# ---- Python / uv ----
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
.eggs/
.venv/
venv/
env/
*.egg
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage


# ---- OS ----
.DS_Store
.DS_Store?
._*
Thumbs.db
.env*
